
<div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone">
  <p id="notice"><%= notice %></p>
</div>



  <% @posts.each do |post| %>

      <%= render post %>

  <% end %>




<br>



