<p id="notice"><%= notice %></p>
<!--<div class="mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;hide-tablet mdl-cell&#45;&#45;hide-phone">-->
  <!--<h1>Listing Posts</h1>-->
<!--</div>-->



  <% @posts.each do |post| %>

      <%= render post %>

  <% end %>




<br>



