/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.mdl-layout-title {
    text-transform: capitalize;
}
.mdl-button--fab_flinger-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.mdl-button--fab_flinger-container.is-showing-options > a i {
    transition: transform 0.1s linear;
    transform: translate(-12px, -12px) rotate(45deg);
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options {
    display: flex;
    flex-direction: column-reverse;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a {
    display: block;
    animation-name: enter;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    transform-origin: bottom center;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(1) {
    animation-delay: 0.1s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(2) {
    animation-delay: 0.2s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(3) {
    animation-delay: 0.3s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(4) {
    animation-delay: 0.4s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(5) {
    animation-delay: 0.5s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(6) {
    animation-delay: 0.6s;
}
.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options {
    position: absolute;
    bottom: 100%;
    margin-bottom: 10px;
}
.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options a {
    transform: scale(0);
    display: none;
}
@keyframes enter {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(0.8);
    }
}