// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add {
  position: fixed !important;
  right: 51px;
  top: 110px;
  z-index: 998;

}
